In [1]:
import pandas as pd
import requests

In [2]:
from bs4 import BeautifulSoup

In [3]:
requests.get('https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav').text

'<HTML><HEAD>\n<TITLE>Access Denied</TITLE>\n</HEAD><BODY>\n<H1>Access Denied</H1>\n \nYou don\'t have permission to access "http&#58;&#47;&#47;www&#46;ambitionbox&#46;com&#47;list&#45;of&#45;companies&#63;" on this server.<P>\nReference&#32;&#35;18&#46;5f43017&#46;1672938560&#46;1bdfc35f\n</BODY>\n</HTML>\n'

In [4]:
# we are fetching the web page view source 
headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'}
webview = requests.get('https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav', headers = headers).text

In [5]:
# webview

In [6]:
# soup = BeautifulSoup(webview,'lxml')
!pip install lxml

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: lxml in c:\users\sudhanshu\appdata\roaming\python\python37\site-packages (4.9.2)

In [7]:
import lxml
soup = BeautifulSoup(webview,"html.parser")

In [8]:
# print(soup.prettify())

In [9]:
len(soup.find_all('h2'))

34

In [10]:
soup.find_all('h1')[0].text

'List of companies in India'

In [11]:
for i in soup.find_all('h2'):
    print(i.text.strip())

TCS
Accenture
Cognizant
ICICI Bank
HDFC Bank
Wipro
Infosys
Capgemini
Tech Mahindra
Genpact
HCLTech
Amazon
Axis Bank
IBM
Concentrix Corpo...
Reliance jio
Larsen & Toubro ...
HDB Financial Se...
Vodafone Idea
Teleperformance
Kotak Mahindra B...
Reliance Retail
Deloitte
Reliance Industr...
Bharti Airtel
Tata Motors
BYJU'S
Flipkart
WNS
Mahindra & Mahin...

In [12]:
# for i in range(1,200):
#    headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'}
#    webview = requests.get('https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page={}'.format(i), headers = headers).text

In [13]:
len(soup.find_all('p', class_= 'rating'))

30

In [14]:
company = soup.find_all('div',class_='company-content-wrapper')

In [15]:
len(company)

30

In [33]:
company_name = []
ratings = []
reviews = []
sector = []               # 0
head_quarter = []         # 1
years = []                # 2
employees = []             # 3

for i in company :
    company_name.append(i.find('h2').text.strip())
    ratings.append(i.find('p', class_='rating').text.strip())
    reviews.append(i.find('a', class_='review-count').text.strip())
    sector.append(i.find_all('p',class_='infoEntity')[0].text.strip())
    head_quarter.append(i.find_all('p',class_='infoEntity')[1].text.strip())
    years.append(i.find_all('p',class_='infoEntity')[2].text.strip())
    employees.append(i.find_all('p',class_='infoEntity')[3].text.strip())
dataset = pd.DataFrame({'company_name':company_name,'ratings':ratings,'reviews':reviews,
          'company_type':sector,'main_office':head_quarter,'old':years,'employees':employees})

In [35]:
dataset.head()

,company_name,ratings,reviews,company_type,main_office,old,employees
0,TCS,3.9,(50.1k Reviews),Public,"Mumbai,Maharashtra + 269 more",55 years old,1 Lakh+ Employees (India)
1,Accenture,4.1,(32.1k Reviews),Public,Dublin + 131 more,34 years old,1 Lakh+ Employees (India)
2,Cognizant,4.0,(29.5k Reviews),Private,Teaneck. New Jersey. + 101 more,29 years old,1 Lakh+ Employees (India)
3,ICICI Bank,4.0,(33.4k Reviews),Public,"Mumbai,Maharashtra + 1055 more",29 years old,1 Lakh+ Employees (India)
4,HDFC Bank,4.0,(39k Reviews),Public,"Mumbai,Maharashtra + 1240 more",29 years old,50k-1 Lakh Employees (India)

In [ ]:
# let's run this for all pages

In [88]:
import numpy as np

In [89]:
final=pd.DataFrame()
for j in range(1,1001):
    headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'}
    webview = requests.get('https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page={}'.format(j), headers = headers).text
    soup=BeautifulSoup(webpage,'html.parser')
    company=soup.find_all('div',class_='company-content-wrapper')
    name=[]
    rating=[]
    reviews=[]
    ctype=[]
    hq=[]
    how_old=[]
    no_of_employee=[]
    
    for i in company:
        try:
            name.append(i.find('h2').text.strip())
        except:
            name.append(np.nan)
        try:
            rating.append(i.find('p',class_='rating').text.strip())
        except:
            rating.append(np.nan)
        try:
            reviews.append(i.find('a' , class_='review-count').text.strip())
        except:
            reviews.append(np.nan)

        try:
            ctype.append(i.find_all('p',class_='infoEntity')[0].text.strip())
        except:
            ctype.append(np.nan)
        try:
            hq.append(i.find_all('p',class_='infoEntity')[1].text.strip())
        except:
            hq.append(np.nan)
        try:
            how_old.append(i.find_all('p',class_='infoEntity')[2].text.strip())
        except:
            how_old.append(np.nan)
        try:
            no_of_employee.append(i.find_all('p',class_='infoEntity')[3].text.strip())
        except:
            no_of_employee.append(np.nan)


    df=pd.DataFrame({'name':name,
    'rating':rating,
    'reviews':reviews,
    'company_type':ctype,
    'Head_Quarters':hq,
    'Company_Age':how_old,
    'No_of_Employee':no_of_employee,
    })
    final=final.append(df,ignore_index=True)

In [90]:
final

,name,rating,reviews,company_type,Head_Quarters,Company_Age,No_of_Employee
0,IndusInd Bank,3.8,(6.6k Reviews),Public,"Gurgaon/Gurugram,Haryana + 556 more",29 years old,10k-50k Employees (India)
1,Ernst & Young,3.8,(6.2k Reviews),Private,London + 72 more,21 years old,10k-50k Employees (India)
2,DXC Technology,3.9,(7k Reviews),Public,"Minato,Tokyo + 55 more",6 years old,10k-50k Employees (India)
3,Hinduja Global S...,4.0,(6k Reviews),Public,"Bangalore/Bengaluru,Karnataka + 72 more",23 years old,10k-50k Employees (India)
4,Infosys BPM,4.0,(5.8k Reviews),"Bangalore/Bengaluru,Karnataka + 48 more",21 years old,10k-50k Employees (India),NaN
...,...,...,...,...,...,...,...
29995,PwC,3.8,(4.2k Reviews),Partnership,London + 63 more,25 years old,10k-50k Employees (India)
29996,EXL Service,3.9,(5.2k Reviews),Private,"New York City,New York + 32 more",24 years old,10k-50k Employees (India)
29997,iEnergizer,4.2,(4k Reviews),Private,"Noida,Uttar Pradesh + 15 more",23 years old,10k-50k Employees (India)
29998,Indian Army,4.7,(4k Reviews),Public,"New Delhi,Delhi + 267 more",128 years old,1 Lakh+ Employees (India)
29999,L&T Infotech,3.8,(4k Reviews),Public,"Mumbai,Maharashtra + 66 more",27 years old,10k-50k Employees (India)

In [92]:
final.shape

(30000, 7)

In [96]:
final.to_csv('Company_dataset.csv')

In [2]:
import pandas as pd

In [20]:
df = pd.read_csv('Company_dataset.csv')

TypeError: read_csv() got an unexpected keyword argument 'axis'

In [24]:
df.head()

,Unnamed: 0,name,rating,reviews,company_type,Head_Quarters,Company_Age,No_of_Employee
0,0,IndusInd Bank,3.8,(6.6k Reviews),Public,"Gurgaon/Gurugram,Haryana + 556 more",29 years old,10k-50k Employees (India)
1,1,Ernst & Young,3.8,(6.2k Reviews),Private,London + 72 more,21 years old,10k-50k Employees (India)
2,2,DXC Technology,3.9,(7k Reviews),Public,"Minato,Tokyo + 55 more",6 years old,10k-50k Employees (India)
3,3,Hinduja Global S...,4.0,(6k Reviews),Public,"Bangalore/Bengaluru,Karnataka + 72 more",23 years old,10k-50k Employees (India)
4,4,Infosys BPM,4.0,(5.8k Reviews),"Bangalore/Bengaluru,Karnataka + 48 more",21 years old,10k-50k Employees (India),NaN

In [8]:
!pip install pandas-profiling
#from pandas_profiling import profileReport

Collecting pandas-profiling
  Using cached pandas_profiling-3.6.2-py2.py3-none-any.whl (328 kB)
Requirement already satisfied: tqdm<4.65,>=4.48.2 in c:\users\sudhanshu\anaconda3\lib\site-packages (from pandas-profiling) (4.64.1)
Collecting visions[type_image_path]==0.7.5
  Using cached visions-0.7.5-py3-none-any.whl (102 kB)
Collecting htmlmin==0.1.12
  Using cached htmlmin-0.1.12.tar.gz (19 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Collecting pydantic<1.11,>=1.8.1
  Downloading pydantic-1.10.4-cp39-cp39-win_amd64.whl (2.1 MB)
     ---------------------------------------- 2.1/2.1 MB 5.0 MB/s eta 0:00:00
Requirement already satisfied: seaborn<0.13,>=0.10.1 in c:\users\sudhanshu\anaconda3\lib\site-packages (from pandas-profiling) (0.11.2)
Collecting multimethod<1.10,>=1.4
  Using cached multimethod-1.9.1-py3-none-any.whl (10 kB)
Requirement already satisfied: statsmodels<0.14,>=0.13.2 in c:\users\sudhanshu\anaconda3\lib\site-packages (from pandas-profiling) (0.13.2)
Requirement already satisfied: requests<2.29,>=2.24.0 in c:\users\sudhanshu\anaconda3\lib\site-packages (from pandas-profiling) (2.28.1)
Requirement already satisfied: matplotlib<3.7,>=3.2 in c:\users\sudhanshu\anaconda3\lib\site-packages (from pandas-profiling) (3.5.2)
Requirement already satisfied: PyYAML<6.1,>=5.0.0 in c:\users\sudhanshu\anaconda3\lib\site-packages (from pandas-profiling) (6.0)
Requirement already satisfied: scipy<1.10,>=1.4.1 in c:\users\sudhanshu\anaconda3\lib\site-packages (from pandas-profiling) (1.9.1)
Requirement already satisfied: jinja2<3.2,>=2.11.1 in c:\users\sudhanshu\anaconda3\lib\site-packages (from pandas-profiling) (2.11.3)
Requirement already satisfied: numpy<1.24,>=1.16.0 in c:\users\sudhanshu\anaconda3\lib\site-packages (from pandas-profiling) (1.21.5)
Collecting typeguard<2.14,>=2.13.2
  Using cached typeguard-2.13.3-py3-none-any.whl (17 kB)
Collecting phik<0.13,>=0.11.1
  Downloading phik-0.12.3-cp39-cp39-win_amd64.whl (663 kB)
     ------------------------------------- 663.5/663.5 kB 40.8 MB/s eta 0:00:00
Requirement already satisfied: pandas!=1.4.0,<1.6,>1.1 in c:\users\sudhanshu\anaconda3\lib\site-packages (from pandas-profiling) (1.4.4)
Collecting tangled-up-in-unicode>=0.0.4
  Using cached tangled_up_in_unicode-0.2.0-py3-none-any.whl (4.7 MB)
Requirement already satisfied: attrs>=19.3.0 in c:\users\sudhanshu\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.5->pandas-profiling) (21.4.0)
Requirement already satisfied: networkx>=2.4 in c:\users\sudhanshu\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.5->pandas-profiling) (2.8.4)
Requirement already satisfied: Pillow in c:\users\sudhanshu\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.5->pandas-profiling) (9.2.0)
Collecting imagehash
  Using cached ImageHash-4.3.1-py2.py3-none-any.whl (296 kB)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\sudhanshu\anaconda3\lib\site-packages (from jinja2<3.2,>=2.11.1->pandas-profiling) (2.0.1)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\sudhanshu\anaconda3\lib\site-packages (from matplotlib<3.7,>=3.2->pandas-profiling) (3.0.9)
Requirement already satisfied: cycler>=0.10 in c:\users\sudhanshu\anaconda3\lib\site-packages (from matplotlib<3.7,>=3.2->pandas-profiling) (0.11.0)
Requirement already satisfied: packaging>=20.0 in c:\users\sudhanshu\anaconda3\lib\site-packages (from matplotlib<3.7,>=3.2->pandas-profiling) (21.3)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\sudhanshu\anaconda3\lib\site-packages (from matplotlib<3.7,>=3.2->pandas-profiling) (2.8.2)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\sudhanshu\anaconda3\lib\site-packages (from matplotlib<3.7,>=3.2->pandas-profiling) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\sudhanshu\anaconda3\lib\site-packages (from matplotlib<3.7,>=3.2->pandas-profiling) (1.4.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\sudhanshu\anaconda3\lib\site-packages (from pandas!=1.4.0,<1.6,>1.1->pandas-profiling) (2022.1)
Requirement already satisfied: joblib>=0.14.1 in c:\users\sudhanshu\anaconda3\lib\site-packages (from phik<0.13,>=0.11.1->pandas-profiling) (1.1.0)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\sudhanshu\anaconda3\lib\site-packages (from pydantic<1.11,>=1.8.1->pandas-profiling) (4.3.0)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\sudhanshu\anaconda3\lib\site-packages (from requests<2.29,>=2.24.0->pandas-profiling) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\sudhanshu\anaconda3\lib\site-packages (from requests<2.29,>=2.24.0->pandas-profiling) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\sudhanshu\anaconda3\lib\site-packages (from requests<2.29,>=2.24.0->pandas-profiling) (2022.9.14)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\sudhanshu\anaconda3\lib\site-packages (from requests<2.29,>=2.24.0->pandas-profiling) (1.26.11)
Requirement already satisfied: patsy>=0.5.2 in c:\users\sudhanshu\anaconda3\lib\site-packages (from statsmodels<0.14,>=0.13.2->pandas-profiling) (0.5.2)
Requirement already satisfied: colorama in c:\users\sudhanshu\anaconda3\lib\site-packages (from tqdm<4.65,>=4.48.2->pandas-profiling) (0.4.5)
Requirement already satisfied: six in c:\users\sudhanshu\anaconda3\lib\site-packages (from patsy>=0.5.2->statsmodels<0.14,>=0.13.2->pandas-profiling) (1.16.0)
Requirement already satisfied: PyWavelets in c:\users\sudhanshu\anaconda3\lib\site-packages (from imagehash->visions[type_image_path]==0.7.5->pandas-profiling) (1.3.0)
Building wheels for collected packages: htmlmin
  Building wheel for htmlmin (setup.py): started
  Building wheel for htmlmin (setup.py): finished with status 'done'
  Created wheel for htmlmin: filename=htmlmin-0.1.12-py3-none-any.whl size=27082 sha256=6fd7c4f71a419b7f94c57b69e37eb6d2d8adfe80a44196d310bf8e0d4dff91f8
  Stored in directory: c:\users\sudhanshu\appdata\local\pip\cache\wheels\1d\05\04\c6d7d3b66539d9e659ac6dfe81e2d0fd4c1a8316cc5a403300
Successfully built htmlmin
Installing collected packages: htmlmin, typeguard, tangled-up-in-unicode, pydantic, multimethod, imagehash, visions, phik, pandas-profiling
Successfully installed htmlmin-0.1.12 imagehash-4.3.1 multimethod-1.9.1 pandas-profiling-3.6.2 phik-0.12.3 pydantic-1.10.4 tangled-up-in-unicode-0.2.0 typeguard-2.13.3 visions-0.7.5

In [11]:
from pandas_profiling import ProfileReport

In [13]:
prof = ProfileReport(df)

In [14]:
prof.to_file(output_file='profile.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]